
body {
   
    background: linear-gradient(45deg, blue, rgb(248, 1, 248));
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    
}

h1 {
    align-items: center;
}

.formulario {
    position: absolute;
    box-shadow: 10px 10px 20px rgb(255, 155, 255);

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
    color: rgb(82, 81, 81);
    background: white;
    
    width: 400px;
    height: 500px;  
    border-radius: 10px;

    left: 50%; top: 50%;
    transform: translate(-50%, -50%);

    animation: form-animation 400ms ease-out;
}



.mensagem {
    position: absolute;
    box-shadow: 10px 10px 20px rgb(255, 155, 255);

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
    color: rgb(82, 81, 81);
    background: white;
    width: 0px;
    height: 0px;
    font-size: 0%;
    border-radius: 10px;

    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    transition: 500ms;
}

.ok {

    left: 50%; top: 50%;
    transform: translate(0%);

    font-weight: bold;
    font-size: large;

    opacity: 100%;
    background: #f002f0;
    color: aliceblue;
    border: none;
    width: 30%;
    height: 30%;
    border-radius: 10px;
   
}

.fechar {
    position: absolute;
    background: none;
    border: none;
    font-size: large;
    color:aliceblue;
    left: 710px;
    top: -50px;

}
.fechar:hover {
    cursor: pointer;
}

.crescer {
    font-size: 100%;
    width: 700px;
    height: 150px;
    transition: 300ms;
}

.diminuir {
    font-size: 0%;
    width: 0px;
    height: 0px;
    transition: 300ms;
}

.criarBlur {
   
    filter: blur(10px);
    transition: 500ms;
}

.tirarBlur {
   
    filter: blur(0px);
    transition: 500ms;
}



.agradecimento {
    position: absolute;
    box-shadow: 10px 10px 20px rgb(255, 155, 255);

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
    color: rgb(82, 81, 81);
    background: white;
    
    width: 400px;
    height: 400px;  
    border-radius: 10px;

    left: 50%; top: 50%;
    transform: translate(-50%, -50%);

    animation: form-animation 1.4s ease-out;
}

.conteudo {
    margin-left: 5%;
    
}

.textoCentro {
    margin-left: -5%;
    text-align: center;
}

label {
    
    font-weight: bold;
}

input {
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao {
    
    position: relative;
    left: 50%; top: 50%;
    transform: translate(-53%);

    font-weight: bold;
    font-size: large;

    opacity: 100%;
    background: #f002f0;
    color: aliceblue;
    border: none;
    width: 350px;
    height: 50px;
    border-radius: 10px;

    transition: 0.5s;

}

.baixar {
    
    position: relative;
    left: 50%; top: 50%;
    transform: translate(-53%);

    font-weight: bold;
    font-size: large;

    opacity: 100%;
    background: #f002f0;
    color: aliceblue;
    border: none;
    width: 350px;
    height: 50px;
    border-radius: 10px;

    transition: 0.5s;

}

.botao:hover, .baixar:hover, .ok:hover {
    background: rgb(140, 0, 255);
    transition: 0.5s;
    cursor: pointer;
}

.sumir {
    visibility: hidden;
}

.sistemas {
    position: relative;
    left: 50%; top: 50%;
    transform: translate(-55%);
    opacity: 80%;
    width: 200px;
    align-self: center;
}

@keyframes form-animation {
    0% {
        transform: translate(100%, -50%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}